<h1 class="title animate__animated animate__jackInTheBox">{{title}}</h1>
<div id="list" *ngIf="mode=='list'">
  <ul class="animate__animated animate__flipInX" > 
    <p *ngIf="todos.length == 0"> Sem tarefas registradas hoje...</p>
    <li id="todo" *ngFor ="let todo of todos"> {{todo.name}} - 
      <button (click)="markAsDone(todo)"*ngIf="!todo.done">Concluir</button> 
      <button (click)="markAsUndone(todo)" *ngIf="todo.done">Refazer</button> - 
      <button (click)="remove(todo)">Remover</button></li>
  </ul>
  <button class="add-btn animate__animated animate__fadeInUp btn" (click)="changeMode('add')">
    <i class="fas fa-plus-circle"></i>
    ADICIONAR TAREFA
  </button>
</div>

<div id="modal" class="animate__animated animate__flipInX" *ngIf="mode=='add'">
  <form [formGroup]="form">
    <div class="input-form">
        <label for="toDoInput">Inserir Tarefa: </label>
        <input type="text" id="toDoInput" placeholder="Insira aqui a sua tarefa" formControlName="title">
        <button class="btn" id="toDoInsert" (click)="add()"> Inserir </button>
    </div>
  </form>
  <button class="add-btn animate__animated animate__fadeInUp btn" (click)="changeMode('list')">
    <i class="fas fa-times"></i>
    CANCELAR
  </button>
</div>


